.App__noteButtonRow {
  display: flex;
}

.App__row {
  display: flex;
}

.App__rowElement {
  margin: 5px;
}

.App__noteTypeFlex {
  display: flex;
}

.App__flex {
  display: flex;
}

.App__notation {
  width: 50%;
}